
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tb_class {width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tb_class {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tb_class {width: 100%;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tb_class {width: 80%;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tb_class {width: 80%;}
}

h1{
  font-family: "Sofia";
  font-size: 30px;
}
	td.serif{
  font-family: ""Times New Roman", Times, serif;";
  font-size: 30px;
}
a.links{
  font-family: "Segoe UI",Arial,sans-serif;
}
	p.normal {
  font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-align: justify;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: green;
}

